<div class="absolute bg-gray-800 text-white w-56 min-h-screen overflow-y-auto transition-transform transform -translate-x-full ease-in-out duration-300"
    id="sidebar">
    <!-- Sidebar Content -->
    <div class="p-4">
        <h1 class="text-2xl font-semibold"><span class="text-red-500">Poppy</span> Chat</h1>
        <ul class="mt-8">
            <div id="inbox_select_div" class="cursor-pointer flex justify-between items-center w-full h-12 rounded hover:bg-gray-900">
                &nbsp;
                <i class="fa-solid fa-inbox"></i>
                <li class=""><p>Inbox</p></li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div id="explore_select_div" class="cursor-pointer mt-4 flex justify-between items-center w-full h-12 rounded hover:bg-gray-900">
                &nbsp;
                <i class="fa-solid fa-magnifying-glass"></i>
                <li class=""><p>Explore</p></li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div id="requests_select_div" class="cursor-pointer mt-4 flex justify-between items-center w-full h-12 rounded hover:bg-gray-900">
                &nbsp;
                <i class="fa-solid fa-bell"></i>
                <li class=""><p>Requests</p></li>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div id="rooms_select_div" class="cursor-pointer mt-4 flex justify-between items-center w-full h-12 rounded hover:bg-gray-900">
                &nbsp;
                <i class="fa-solid fa-compact-disc"></i>
                <li class=""><p>Room</p></li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div id="settings_select_div" class="cursor-pointer mt-4 flex justify-between items-center w-full h-12 rounded hover:bg-gray-900">
                &nbsp;
                <i class="fa-solid fa-gear"></i>
                <li class=""><p>Settings</p></li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </ul>
    </div>
</div>

<script>

    const inbox_select_div = document.getElementById("inbox_select_div");
    const explore_select_div = document.getElementById("explore_select_div");
    const requests_select_div = document.getElementById("requests_select_div");
    const rooms_select_div = document.getElementById("rooms_select_div");
    const settings_select_div = document.getElementById("settings_select_div");

    inbox_select_div.addEventListener('click', () => {
        window.location.href = "/inbox";
    });

    explore_select_div.addEventListener('click', () => {
        window.location.href = "/explore";
    });

    requests_select_div.addEventListener('click', () => {
        window.location.href = "/requests";
    });

    rooms_select_div.addEventListener('click', () => {
        window.location.href = "/room";
    });

    settings_select_div.addEventListener('click', () => {
        window.location.href = "/settings";
    });

</script>