<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>

        <title><%= error_name %> - Poppy Chat</title>
</head>

<body>

    <section class="flex items-center h-screen p-16 bg-gray-50 dark:bg-gray-700">
        <div class="container flex flex-col items-center ">
            <div class="flex flex-col gap-6 max-w-md text-center">
                <h2 class="font-extrabold text-9xl text-red-500 dark:text-gray-100">
                    <span class="sr-only">Error</span><%= error_code %>
                </h2>
                <p class="text-2xl md:text-3xl dark:text-gray-300"><%= error_msg %></p>
                <a href="/"
                    class="px-8 py-4 text-xl font-semibold rounded bg-gray-800 text-gray-50 hover:bg-gray-900" title="Head Back To Home"><i class="fa-solid fa-arrow-left"></i> Back
                    to home</a>
            </div>
        </div>
    </section>

</body>

</html>