<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>

        <title>Cya</title>
</head>

<body>

    
    <h1>Good Bye!</h1>

    <script>
        
    </script>

</body>

</html>