<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>

        <title>Verification - Poppy Chat</title>
</head>

<body class="no-scrollbar">

    <section class="bg-gray-50">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-800 md:text-2xl">
                        Verify your email address
                    </h1>
                    <form class="space-y-4 md:space-y-6" method="post" action="/verify">
                        <div>
                            <label for="code" class="block mb-2 text-sm font-medium text-gray-900">Enter the 8 digit code</label>
                            <input type="text" name="code" id="code" placeholder="11111111" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required>
                            <label for="code" class="block mb-2 mt-4 text-sm font-medium text-gray-900">We have sent a 8 digit verification code to your email. This code is <span class="text-red-500">temporary</span> and will expire after a few minutes. Please also check the Spam folder.</label>
                        </div>

                        <button type="submit" class="w-full text-white bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Verify</button>
                        <p class="font-bold text-red-600">
                            <% if(message !== ''){ %>
                                <%= message %>
                              <% } else{} %>
                        </p>
                    </form>
                    <form action="/abortUserJoinRequest" method="post">
                        <button type="submit" class="w-full text-white bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:bg-red-500">Abort Registration</button>
                        </form>
                </div>
            </div>
        </div>
      </section>

</body>

</html>

