<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>

        <title>Release <%= version %> - Poppy Chat</title>
</head>

<body class="select-none">

    <div class="bg-gray-100">
        <div class="container mx-auto py-8">
            <div class="grid grid-cols-4 sm:grid-cols-12 gap-6 px-4">
                <div class="col-span-4 sm:col-span-3">
                    <div class="bg-white shadow rounded-lg p-6">
                        <div class="flex flex-col items-center">
                            <img src="resources/poppy_chat_logo.png" class="w-32 h-32 bg-gray-300 rounded-full mb-4 shrink-0">
    
                            </img>
                            <h1 class="text-xl font-bold"><span class="text-red-500">Poppy</span> Chat</h1>
                            <p class="text-gray-700">One poppy at a time</p>
                            <div class="mt-6 flex flex-wrap gap-4 justify-center">
                                <a href="/" class="bg-gray-800 hover:bg-gray-900 text-white py-2 px-4 rounded">Explore <i class="fa-solid fa-star"></i></a>
                                <a href="/inbox" class="bg-gray-200 hover:bg-gray-400 text-black py-2 px-4 rounded">Poppy 🌷</a>
                            </div>
                        </div>
                        <hr class="my-6 border-t border-gray-300">
                        <div class="flex flex-col">
                            <span class="text-gray-700 font-bold tracking-wider mb-2">Social Links - <a href="/under_dev" class="text-red-500 cursor-pointer hover:text-red-400">@rudro</a></span>
                            <ul>
                                <li class="mb-2 text-gray-600"><i class="fa-brands fa-facebook"></i> Facebook - <a target="_blank" href="https://www.facebook.com/profile.php?id=100073750126634" class="text-blue-600 cursor-pointer hover:text-blue-500">@Rudro Sarkar</a></li>
                                <li class="mb-2 text-gray-600"><i class="fa-brands fa-instagram"></i> Instagram - <a target="_blank" href="https://www.instagram.com/__rud_ro_?igsh=dzMzOWx1NmFqZnE0" class="text-blue-600 cursor-pointer hover:text-blue-500">@__rud_ro_</a></li>
                                <li class="mb-2 text-gray-600"><i class="fa-brands fa-telegram"></i> Telegram - <a target="_blank" href="https://t.me/poppy_chat" class="text-blue-600 cursor-pointer hover:text-blue-500">#Poppy Chat</a></li>
                                <li class="mb-2 text-gray-600"><i class="fa-brands fa-discord"></i> Discord - <a target="_blank" href="https://discord.com/invite/CfSUE7CKfW" class="text-blue-600 cursor-pointer hover:text-blue-500">#Poppy Realm</a></li>
                                <li class="mb-2 text-gray-600"><i class="fa-brands fa-whatsapp"></i> WhatsApp - <a target="_blank" href="https://discord.com/channels/@me/1231130852725887027/1251425360764211253" class="text-blue-600 cursor-pointer hover:text-blue-500">#Poppy Realm</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-span-4 sm:col-span-9">
                    <div class="bg-white shadow rounded-lg p-6">
                        <h2 class="text-xl font-bold mb-4">About - Version <%= version %></h2>
                        <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus est
                            vitae tortor ullamcorper, ut vestibulum velit convallis. Aenean posuere risus non velit egestas
                            suscipit. Nunc finibus vel ante id euismod. Vestibulum ante ipsum primis in faucibus orci luctus
                            et ultrices posuere cubilia Curae; Aliquam erat volutpat. Nulla vulputate pharetra tellus, in
                            luctus risus rhoncus id.
                        </p>
    
                        
                        <h2 class="text-xl font-bold mt-6 mb-4">Update Details</h2>
                        <div class="mb-6">
                            <div class="flex justify-between flex-wrap gap-2 w-full">
                                <span class="text-gray-700 font-bold">#1 Web Developer</span>
                                <p>
                                    <span class="text-gray-700 mr-2">at ABC Company</span>
                                    <span class="text-gray-700">2017 - 2019</span>
                                </p>
                            </div>
                            <p class="mt-2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus est vitae
                                tortor ullamcorper, ut vestibulum velit convallis. Aenean posuere risus non velit egestas
                                suscipit.
                            </p>
                        </div>
                        <div class="mb-6">
                            <div class="flex justify-between flex-wrap gap-2 w-full">
                                <span class="text-gray-700 font-bold">#2 Web Developer</span>
                                <p>
                                    <span class="text-gray-700 mr-2">at ABC Company</span>
                                    <span class="text-gray-700">2017 - 2019</span>
                                </p>
                            </div>
                            <p class="mt-2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus est vitae
                                tortor ullamcorper, ut vestibulum velit convallis. Aenean posuere risus non velit egestas
                                suscipit.
                            </p>
                        </div>
                        <div class="mb-6">
                            <div class="flex justify-between flex-wrap gap-2 w-full">
                                <span class="text-gray-700 font-bold">#3 Web Developer</span>
                                <p>
                                    <span class="text-gray-700 mr-2">at ABC Company</span>
                                    <span class="text-gray-700">2017 - 2019</span>
                                </p>
                            </div>
                            <p class="mt-2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus est vitae
                                tortor ullamcorper, ut vestibulum velit convallis. Aenean posuere risus non velit egestas
                                suscipit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>