<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>

        <title>Release <%= version %> - Poppy Chat</title>
</head>

<body class="select-none">

    <div class="bg-gray-100">
        <div class="container mx-auto py-8">
            <div class="grid grid-cols-4 sm:grid-cols-12 gap-6 px-4">
                <div class="col-span-4 sm:col-span-3">
                    <div class="bg-white shadow rounded-lg p-6">
                        <div class="flex flex-col items-center">
                            <img src="resources/poppy_chat_logo.png" class="w-32 h-32 bg-gray-300 rounded-full mb-4 shrink-0">
    
                            </img>
                            <h1 class="text-xl font-bold"><span class="text-red-500">Poppy</span> Chat</h1>
                            <p class="text-gray-700">One poppy at a time</p>
                            <div class="mt-6 flex flex-wrap gap-4 justify-center">
                                <a href="/" class="bg-gray-800 hover:bg-gray-900 text-white py-2 px-4 rounded">Explore <i class="fa-solid fa-star"></i></a>
                                <a href="/inbox" class="bg-gray-200 hover:bg-gray-400 text-black py-2 px-4 rounded">Poppy 🌷</a>
                            </div>
                        </div>
                        <hr class="my-6 border-t border-gray-300">
                        <div class="flex flex-col">
                            <span class="text-gray-700 font-bold tracking-wider mb-2">Social Links - <a href="/under_dev" class="text-red-500 cursor-pointer hover:text-red-400">@rudro</a></span>
                            <ul>
                                <li class="mb-2 text-gray-600"><i class="fa-brands fa-facebook"></i> Facebook - <a target="_blank" href="https://www.facebook.com/profile.php?id=100073750126634" class="text-blue-600 cursor-pointer hover:text-blue-500">@Rudro Sarkar</a></li>
                                <li class="mb-2 text-gray-600"><i class="fa-brands fa-instagram"></i> Instagram - <a target="_blank" href="https://www.instagram.com/__rud_ro_?igsh=dzMzOWx1NmFqZnE0" class="text-blue-600 cursor-pointer hover:text-blue-500">@__rud_ro_</a></li>
                                <li class="mb-2 text-gray-600"><i class="fa-brands fa-telegram"></i> Telegram - <a target="_blank" href="https://t.me/poppy_chat" class="text-blue-600 cursor-pointer hover:text-blue-500">#Poppy Chat</a></li>
                                <li class="mb-2 text-gray-600"><i class="fa-brands fa-discord"></i> Discord - <a target="_blank" href="https://discord.com/invite/CfSUE7CKfW" class="text-blue-600 cursor-pointer hover:text-blue-500">#Poppy Realm</a></li>
                                <li class="mb-2 text-gray-600"><i class="fa-brands fa-whatsapp"></i> WhatsApp - <a target="_blank" href="https://chat.whatsapp.com/Dqe4qz57eoX8yNPvvb9zXR" class="text-blue-600 cursor-pointer hover:text-blue-500">#Poppy Realm</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-span-4 sm:col-span-9">
                    <div class="bg-white shadow rounded-lg p-6">
                        <h2 class="text-xl font-bold mb-4">About - Version <%= version %></h2>
                        <p class="text-gray-700"> 
                            Connect effortlessly with friends, engage in dynamic video and audio calls, and share your screen in our interactive rooms. Poppy Chat App 1.0 offers a seamless and secure chatting experience, perfect for staying connected and collaborating. Join us and start exploring the future of communication today!
                        </p>
    
                        
                        <h2 class="text-xl font-bold mt-6 mb-4">Version Details</h2>
                        <div class="mb-6">
                            <div class="flex justify-between flex-wrap gap-2 w-full">
                                <span class="text-gray-700 font-bold">Connect with Ease</span>
                                <p>
                                    <span class="text-gray-700 mr-2">signed</span>
                                    <span class="text-gray-700">Jun - 2024</span>
                                </p>
                            </div>
                            <p class="mt-2">
                                Poppy Chat App offers a seamless and intuitive way to connect with friends and new acquaintances. With the unique Poppy ID system, you can easily search for and add friends, ensuring you stay in touch with those who matter most. Send friend requests, accept new connections, and enjoy uninterrupted chatting with your friends. Our platform makes it simple to build and maintain your social network.
                            </p>
                        </div>
                        <div class="mb-6">
                            <div class="flex justify-between flex-wrap gap-2 w-full">
                                <span class="text-gray-700 font-bold">Interactive Rooms</span>
                                <p>
                                    <span class="text-gray-700 mr-2">signed</span>
                                    <span class="text-gray-700">Jun - 2024</span>
                                </p>
                            </div>
                            <p class="mt-2">
                                Take your conversations to the next level with our interactive rooms. Poppy Chat App allows you to join temporary rooms using unique room IDs, providing a private space for two people to share video, audio, and even screen content (screen sharing available on desktop only). Whether for personal catch-ups, collaborative projects, or virtual meet-ups, our interactive rooms enhance your communication experience.
                            </p>
                        </div>
                        <div class="mb-6">
                            <div class="flex justify-between flex-wrap gap-2 w-full">
                                <span class="text-gray-700 font-bold">Secure and User-Friendly</span>
                                <p>
                                    <span class="text-gray-700 mr-2">signed</span>
                                    <span class="text-gray-700">Jun - 2024</span>
                                </p>
                            </div>
                            <p class="mt-2">
                                Your security and ease of use are our top priorities. Poppy Chat App ensures that you have full control over your account with straightforward options to log out and delete your ID whenever you choose. Please note that once an ID is deleted, it cannot be recovered, offering peace of mind that your data is fully in your hands. Enjoy a user-friendly interface designed to make your chatting experience smooth and enjoyable.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>